<div class="TEXtallign">
    <div class="tilt">
        <h2 class="mb-4">Services</h2>
        <div class="row">
            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1">
                    <span class="icon">
                        <i class="flaticon-analysis"></i>
                    </span>
                    <div class="desc">

                        <style>
                            /* Apply custom styles to the list items */
                            ul.bullet-allign {
                                list-style-type: disc;
                                /* Use disc bullets (default style) */
                                margin-left: 20px;
                                /* Adjust the left margin for indentation */
                                margin-bottom: 10px;
                                /* Add spacing between list items */

                            }
                        </style>
                        <h2 class="mb-5">PetZey</h2>
                        <ul class="bullet-allign">
                            <li>Angular</li>
                            <li>CRUD</li>
                            <li>Bootstrap</li>
                            <li>Netlify</li>

                        </ul>

                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1">
                    <span class="icon">
                        <i class="flaticon-flasks"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">BossApp</h3>
                       
                        <ul class="bullet-allign">
                            <li>REST-Api</li>
                            <li>TypeScript</li>
                            <li>Angular</li>
                            <li>Node.js</li>
                            <li>MongoDb</li>
                            <li>Netlify</li>



                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1">
                    <span class="icon">
                        <i class="flaticon-ideas"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Coursera Clone</h3>
                        <ul class="bullet-allign">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Bootstrap</li>
                            

                        </ul>
                    </div>
                </a>
            </div>

            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1">
                    <span class="icon">
                        <i class="flaticon-analysis"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5"> Portfolio</h3>
                        <ul class="bullet-allign">
                            <li>Html,Css</li>
                            <li>Email.js</li>
                            <li>Bootstrap</li>
                            <li>Angular</li>
                       
                            <li>Netlify</li>


                        </ul>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1">
                    <span class="icon">
                        <i class="flaticon-flasks"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Teams-Clone</h3>
                        <ul class="bullet-allign">
                            <li>IN Progress</li>
                         


                        </ul>
                    </div>
                </a>
            </div>
          
        </div>
    </div>
</div>