<div class="body">
    <section id="home-section" class="hero">
        <div class="home-slider  owl-carousel">
            <div class="slider-item ">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end"
                        data-scrollax-parent="true">

                        <div class="one-forth d-flex  align-items-center ftco-animate"
                            data-scrollax=" properties: { translateY: '70%' }">
                            <div class="TEXtallign">
                                <div class="text">
                                    <span class="subheading">Hello!</span>
                                    <h1 class="mb-4 mt-3">I'm <span>Sefinsha.B</span></h1>
                                    <h2 class="mb-4">A MEAN-STACK Developer</h2>
                                    <div>
                                        <p><a href="https://www.naukri.com/mnjuser/profile?id=&altresid
                                            " class="btn btn-primary py-3 px-4">Naukri</a>


                                            <a href="https://github.com/Sefinsha-b"
                                                class="btn btn-primary py-3 px-4">GitHub</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slider-item">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row d-flex no-gutters slider-text align-items-end justify-content-end"
                            data-scrollax-parent="true">

                            <div class="one-forth d-flex align-items-center ftco-animate"
                                data-scrollax=" properties: { translateY: '70%' }">
                                <div class="text">

                                    <h1 class="mb-4 mt-3">I'm a <span>Software Developer</span> based <tr> in kerala
                                    </h1>
                                    <p>
                                        <a class="btn btn-primary py-3 px-4" href="/contact">Hire me</a>
                                        <a class="btn btn-primary py-3 px-4" href="/projects">My works</a>
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- about -->
<div class="body">
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 col-lg-5 d-flex">
                    <div class="img-about img d-flex align-items-stretch">
                        <div class="overlay"></div>
                        <div class="img d-flex align-self-stretch align-items-center"
                            style="background-image:url(images/bg_1.png);">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <div class="TEXtallign">


                                <h2 class="mb-4">About Me</h2>
                                <p>Enthusiastic and dedicated web developer eager to kickstart my career in the MEAN
                                    stack. I am committed to leveraging my strong foundation in HTML, CSS, and
                                    JavaScript to build dynamic and interactive web applications. As a MEAN stack
                                    fresher, I aspire to contribute my creativity, problem-solving skills, and
                                    willingness to learn to develop cutting-edge solutions. Seeking a supportive and
                                    collaborative environment where I can grow my technical expertise and make
                                    meaningful contributions to projects and teams. </p>
                                <div>
                                    <span class="label">Name:</span>
                                    <span class="info">Sefinsha.B</span>
                                </div>
                                <div>
                                    <span class="label">Date of birth:</span>
                                    <span class="info">January 01, 2000</span>
                                </div>
                                <div>
                                    <span class="label">Address:</span>
                                    <span class="info">Kerala Pin 691011 India</span>
                                </div>
                                <div>
                                    <span class="label">Zip code:</span>
                                    <span class="info">691011</span>
                                </div>
                                <div>
                                    <span class="label">Email:</span>
                                    <span class="info">Sefinsha4@gmail.com</span>
                                </div>
                                <div>
                                    <span class="label">Phone:</span>
                                    <span class="info">7907163822</span>
                                </div>
                            </div>
                        </div>
                        <div class="counter-wrap ftco-animate d-flex mt-md-3">
                            <div class="text">
                                <p class="mb-4">
                                    <span class="number" data-number="3">3</span>
                                    <span>Projects complete</span>
                                </p>
                                <p><a href="https://drive.google.com/file/d/1hJ0cggITUVPKhPf1ZP47mPBkWsRb3t6z/view?usp=drive_link"
                                        class="btn btn-primary py-3 px-3">Download CV</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


<!-- certificates -->

<body>

    <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <div class="topadj"></div>
                    <div class="TEXtallign">

                        <h2 class="mb-4">Certificates</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2018-2022</span>
                            <h2>Bachelor of Engineering</h2>
                            <span class="position">Anna University</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2019-2021</span>
                            <h2>MEAN-STACK</h2>
                            <span class="position">EC-Council</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2021-2022</span>
                            <h2>JavaScript</h2>
                            <span class="position">Johns Hopkins University</span>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2019-2021</span>
                            <h2>Data Analysis</h2>
                            <span class="position">Google</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2021-2022</span>
                            <h2>Angular Developer</h2>
                            <span class="position">EC-Council</span>


                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6 text-center ftco-animate">
                            <p><a href="https://drive.google.com/file/d/1hJ0cggITUVPKhPf1ZP47mPBkWsRb3t6z/view?usp=drive_link"
                                    class="btn btn-primary py-4 px-5">Download CV</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services -->
        <div class="TEXtallign">
            <div class="tilt">
                <div class="serMove">
                    <h2 class="mb-4">Services</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-analysis"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">Web Design</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-flasks"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">Photography</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-ideas"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">Web Developer</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-analysis"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5"> Teach Programming C, Python, Angular Web-framework</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-flasks"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">Branding</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-ideas"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">Product Strategy</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- skills -->

        <body>


            <section class="ftco-section" id="skills-section">
                <div class="container">
                    <div class="row justify-content-center pb-5">
                        <div class="col-md-12 heading-section text-center ftco-animate">
                            <div class="TEXtallign">


                                <h2 class="mb-4">My Skills</h2>
                                <p>A dedicated and self-driven learner with a passion for acquiring new skills and
                                    knowledge. Seeking opportunities to leverage my self-taught expertise to contribute
                                    to a dynamic and innovative team

                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>Angular</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-1" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>FIGMA</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-2" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100" style="width:85%">
                                            <span>85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>TypeScript</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
                                            aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                            <span>95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>HTML,CSS</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                            <span>90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>Python, django</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-5" role="progressbar" aria-valuenow="70"
                                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            <span>70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>MongoDB,PostgreSQL</h3>
                                    <div class="progress">
                                        <div class="progress-bar color-6" role="progressbar" aria-valuenow="80"
                                            aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                            <span>80%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </body>
        <!-- sdsdasdasdasd -->

        <div class="TEXtallign">
            <div class="tilt">
                <div class="ProjCentre">
                    <h2 class="mb-4">Projects</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a href="#" class="services-1">
                            <span class="icon">
                                <i class="flaticon-analysis"></i>
                            </span>
                            <div class="desc">

                                <style>
                                    /* Apply custom styles to the list items */
                                    ul.bullet-allign {
                                        list-style-type: disc;
                                        /* Use disc bullets (default style) */
                                        margin-left: 20px;
                                        /* Adjust the left margin for indentation */
                                        margin-bottom: 10px;
                                        /* Add spacing between list items */

                                    }
                                </style>
                                <a [routerLink]="'/P1'">
                                    <style>
                                        a {
                                            color: inherit;
                                            /* Use the default text color of the parent element */
                                            text-decoration: none;
                                            /* Remove underlines or other text decorations */
                                        }
                                    </style>
                                    <h2 class="mb-5">PetLuxury Haven </h2>
                                </a>



                                <ul class="bullet-allign">
                                    <li>Angular</li>
                                    <li>CRUD</li>
                                    <li>Bootstrap</li>
                                    <li>Netlify</li>

                                </ul>

                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a class="services-1">
                            <span class="icon">
                                <i class="flaticon-ideas"></i>
                            </span>
                            <div class="desc">
                                <a [routerLink]="'/P3'">
                                    <style>
                                        a {
                                            color: inherit;
                                            /* Use the default text color of the parent element */
                                            text-decoration: none;
                                            /* Remove underlines or other text decorations */
                                        }
                                    </style>
                                    <h2 class="mb-5">Coursera Clone</h2>
                                </a>




                                <ul class="bullet-allign">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Bootstrap</li>


                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a class="services-1">
                            <span class="icon">
                                <i class="flaticon-analysis"></i>
                            </span>
                            <div class="desc">

                                <a [routerLink]="'/P2'">
                                    <style>
                                        a {
                                            color: inherit;
                                            /* Use the default text color of the parent element */
                                            text-decoration: none;
                                            /* Remove underlines or other text decorations */
                                        }
                                    </style>
                                    <h2 class="mb-5">Portfolio</h2>
                                </a>
                                <ul class="bullet-allign">
                                    <li>Html,Css</li>
                                    <li>Email.js</li>
                                    <li>Bootstrap</li>
                                    <li>Angular</li>

                                    <li>Netlify</li>


                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 text-center d-flex ftco-animate">
                        <a class="services-1">
                            <span class="icon">
                                <i class="flaticon-flasks"></i>
                            </span>
                            <div class="desc">
                                <h3 class="mb-5">TripON</h3>
                                <ul class="bullet-allign">
                                    <li>Angular</li>
                                    <li>Bootstrap</li>
                                    <li>IN Progress</li>



                                </ul>
                            </div>
                        </a>
                    </div>

                </div>
            </div>


            <!-- zsxsaxasx -->


            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- Column 1: About -->
                        <div class="col-md-4">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">About</h2>
                                <p>Aspiring Web Developer <br>Eager to Make an Impact</p>
                                <!-- Social Media Links -->
                                <ul class="ftco-footer-social list-unstyled">
                                    <li class="ftco-animate"><a><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Column 2: Links -->
                        <div class="col-md-2">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Links</h2>
                                <ul class="list-unstyled">
                                    <style>
                                        /* Apply a new color to anchor links */
                                        ul.list-unstyled li a {
                                            color: rgb(242, 242, 242);
                                            /* Replace with the color you want */
                                            text-decoration: none;
                                            /* Optional: Remove underlines from links */
                                        }

                                        /* Apply a different color when hovering over anchor links */
                                        ul.list-unstyled li a:hover {
                                            color: rgb(201, 194, 194);
                                            /* Replace with the hover color you want */
                                        }
                                    </style>
                                    <li><a routerLink="/"><span class="icon-long-arrow-right mr-2"></span>Home</a>
                                    </li>
                                    <li><a routerLink="/about"><span class="icon-long-arrow-right mr-2"></span>About</a>
                                    </li>
                                    <li><a routerLink="/service"><span
                                                class="icon-long-arrow-right mr-2"></span>Services</a></li>
                                    <li><a routerLink="/projects"><span
                                                class="icon-long-arrow-right mr-2"></span>Projects</a></li>

                                </ul>
                            </div>
                        </div>
                        <!-- Column 3: Services -->
                        <div class="col-md-3">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Services</h2>
                                <ul class="list-unstyled">
                                    <li><a><span class="icon-long-arrow-right mr-2"></span>Web Design</a></li>
                                    <li><a><span class="icon-long-arrow-right mr-2"></span>Web Development</a></li>
                                    <li><a><span class="icon-long-arrow-right mr-2"></span>Business Strategy</a></li>
                                    <li><a><span class="icon-long-arrow-right mr-2"></span>Data Analysis</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Column 4: Contact -->
                        <div class="col-md-3">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Have a Question?</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-map-marker"></span><span class="text">SulthanCottage
                                                India kerala</span></li>
                                        <li><span class="icon icon-phone"></span><span class="text">+91
                                                7994894103</span>
                                        </li>
                                        <li><span class="icon icon-envelope"></span><span
                                                class="text">Sefinsha4@gmail.com</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>