<div class="body">
    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 col-lg-5 d-flex">
            <div class="img-about img d-flex align-items-stretch">
              <div class="overlay"></div>
              <div class="img d-flex align-self-stretch align-items-center"
                style="background-image:url(images/bg_1.png);">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
            <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                <div class="TEXtallign">
  
                
                  <h2 class="mb-4">About Me</h2>
                  <p>Enthusiastic and dedicated web developer eager to kickstart my career in the MEAN stack. I am committed to leveraging my strong foundation in HTML, CSS, and JavaScript to build dynamic and interactive web applications. As a MEAN stack fresher, I aspire to contribute my creativity, problem-solving skills, and willingness to learn to develop cutting-edge solutions. Seeking a supportive and collaborative environment where I can grow my technical expertise and make meaningful contributions to projects and teams. </p>
                  <div>
                    <span class="label">Name:</span>
                    <span class="info">Sefinsha.B</span>
                  </div>
                  <div>
                    <span class="label">Date of birth:</span>
                    <span class="info">January 01, 2000</span>
                  </div>
                  <div>
                    <span class="label">Address:</span>
                    <span class="info">SulthanCottage India</span>
                  </div>
                  <div>
                    <span class="label">Zip code:</span>
                    <span class="info">691011</span>
                  </div>
                  <div>
                    <span class="label">Email:</span>
                    <span class="info">Sefinsha4@gmail.com</span>
                  </div>
                  <div>
                    <span class="label">Phone:</span>
                    <span class="info">7907163822</span>
                  </div>
                </div>
              </div>
              <div class="counter-wrap ftco-animate d-flex mt-md-3">
                <div class="text">
                  <p class="mb-4">
                    <span class="number" data-number="3">3</span>
                    <span>Projects complete</span>
                  </p>
                  <p><a href="https://drive.google.com/file/d/1hJ0cggITUVPKhPf1ZP47mPBkWsRb3t6z/view?usp=drive_link" class="btn btn-primary py-3 px-3">Download CV</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  </div>