<body>

    <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-10 heading-section text-center ftco-animate">
                    <div class="topadj"></div>
                    <div class="TEXtallign">

                        <h2 class="mb-4">Certificates</h2>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2018-2022</span>
                            <h2>Bachelor of Engineering</h2>
                            <span class="position">Anna University</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2019-2021</span>
                            <h2>MEAN-STACK</h2>
                            <span class="position">EC-Council</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2021-2022</span>
                            <h2>JavaScript</h2>
                            <span class="position">Johns Hopkins University</span>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2019-2021</span>
                            <h2>Data Analysis</h2>
                            <span class="position">Google</span>

                        </div>
                        <div class="resume-wrap ftco-animate">
                            <span class="date">2021-2022</span>
                            <h2>Angular Developer</h2>
                            <span class="position">EC-Council</span>


                        </div>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6 text-center ftco-animate">
                            <p><a href="https://drive.google.com/file/d/1hJ0cggITUVPKhPf1ZP47mPBkWsRb3t6z/view?usp=drive_link"
                                    class="btn btn-primary py-4 px-5">Download CV</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
