<body>
    <header>
        <h3>Coursera Clone Project</h3>

    </header>
    <main>
        <section class="container">
            <h3>Welcome to my Coursera clone project, a comprehensive online learning platform designed to provide users
                with an immersive and interactive educational experience.</h3>

            <h3>Key Features:</h3>
            <ul>
                <li><strong>Angular-Powered:</strong> The Coursera clone is built using Angular, a cutting-edge web
                    framework. This ensures a responsive and dynamic user interface that adapts seamlessly to various
                    screen sizes and devices.</li>
                <li><strong>HTML & CSS:</strong> The foundation of this platform is built upon HTML and CSS, delivering
                    a user-friendly and visually appealing design that focuses on simplicity and user experience.</li>
                <li><strong>Bootstrap Framework:</strong> To ensure a consistent and responsive layout, I've leveraged
                    the power of Bootstrap. This framework enhances the platform's usability across different devices,
                    making it accessible on both desktop and mobile.</li>
            </ul>

            <p>Please take a moment to explore my Coursera clone project, where you can access a diverse range of
                courses and engage in an enriching learning journey. Whether you're interested in enhancing your skills
                or expanding your knowledge, this platform is here to support your educational goals.</p>

            <p>Thank you for visiting my Coursera clone project, and I hope you enjoy your learning experience here!</p>
        </section>
    </main>
</body>