<body>
    <header>
        <h1>Welcome to PetsHeaven</h1>
    </header>
    <main>
        <section class="container">
            <p> PetsHeaven is a game-changing website that transforms the way pet owners and veterinarians interact.
                Powered by Angular, Bootstrap, MongoDB, Express.js, and CRUD operations, PetsHeaven offers a
                comprehensive solution for scheduling live appointments for your beloved pets with skilled
                veterinarians.</p>

            <p>Our intuitive interface ensures a seamless booking experience, allowing you to effortlessly choose
                convenient appointment slots and access real-time availability of experienced veterinary professionals.
                With the combination of MongoDB and Express.js, we've crafted a robust backend that securely stores and
                manages appointment data.</p>

            <p>PetsHeaven, hosted on Netlify, guarantees lightning-fast and dependable performance on the frontend,
                while the backend, built with Express.js, ensures efficient data processing and retrieval from MongoDB.
                Say farewell to lengthy waiting times and embrace the convenience of PetsHeaven, where the well-being
                and joy of your furry companions are our highest priorities.</p>

            <!-- Add the website link -->
            <p>Visit our website: <a href="https://petheaven-b9567.netlify.app">PetsHeaven.com</a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 PetsHeaven</p>
    </footer>
</body>